{% extends 'base.html' %}


{% block content %}


    <div class="container grid-my-services">

        <!--Renderização dos serviços cadastrados e publicados-->
        {% for service in list_services_published %}
            <figure class="card-services">

                <img class="my-services" src="{{ service.image.url }}" alt="" srcset="">
                <figcaption>{{ service.title }} - {{ service.supplier.fantasy_name }}</figcaption>
                <p>R$ {{ service.price }}</p>

            </figure>

        {% endfor %}
    </div>
{% endblock %}
