{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}


{% block content %}


<div class="container col-8">
    <figure>
        {% if service.image %}
        <img class="service" src="{{ service.image.url }}" alt="" srcset="">
        {% else %}
        <img class="service" src="{% static 'image/capa_padrao.jpg' %}" alt="" srcset="">
        {% endif %}
    </figure>
    <form action="{% url 'core:service_update' service.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form.visible_fields %}
        <div class="form-group">
            <label for="{{field.id_for_label}}">{{field.label}}</label>
            {{field|add_class:'form-control'}}
        </div>
        {% for error in field.errors %}
        <section class="alert alert-danger" role="alert">
            {{ field.errors }}
        </section>
        {% endfor %}
        {% endfor %}
        <input type="submit" value="Salvar">
    </form>
</div>
{% endblock %}